<h1>My Cart</h1>
<br>


	<% @line_items.each do |line_item| %>
		<div class="well">
			<ul>
			<li><%= line_item.product.name %></li>
			<li><%= number_to_currency line_item.product.price %></li>
			<li>Qty: <%= line_item.quantity %></li>
			<li>Subtotal: <%= number_to_currency line_item.line_item_total %></li>
		</ul>
	</div>
	<% end %>


<div>
	<%= link_to "Proceed to Checkout?", checkout_path, class: "btn btn-warning" %>
</div>