<h1>Items By Brand</h1>

<div class="row">
<% @products.each do |product| %>
  <div class="col-md-4">
  <div class="well center-it">
  		<b><%= link_to product.name, product %></b><br>
  		<%= image_tag product.image.url, height: "75" %> <br>
      <%= number_to_currency product.price %> <br>
      
      
      <a href="" data-toggle="modal" data-target="#myModal_<%=product.id %>">
      	<span class="glyphicon glyphicon-plus"></span>Quick Info
      </a>

<br>

<%= link_to product do %>
	<button type="button" class="btn btn-default"> 
		<span class="glyphicon glyphicon-eye-open"></span>
		<% end %>
	</button>
<%= link_to edit_product_path(product) do %>
	<button type="button" class="btn btn-default"> 
		<span class="glyphicon glyphicon-pencil"></span>
		<% end %>
	</button>
<%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
	<button type="button" class="btn btn-default"> 
		<span class="glyphicon glyphicon-trash"></span>
		<% end %>
	</button>
	
	</div>
  </div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal_<%=product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= "#{product.name}" %></h4>
      </div>
      <div class="modal-body">

  			<%= image_tag product.image.url, height: "75" %> <br>
      	<%= number_to_currency product.price %> <br>
        <%= product.description %>
      	<p><b> Brand</b>: <%= link_to "#{product.brand}",  branding_path(brand: product.brand)  %></p>
      	<p><b> Category</b>: <%= link_to "#{product.category.name}", categorical_path(category_id: product.category.id) %></p>
     		<p><b>Product Rating</b>:<%= "#{product.rating }" %>/10 </p>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<% end %>
</div>
